# Insert JSON & CSV files to MongoDB

In [1]:
# Importing required dependicies
import pymongo 
import pandas as pd
import json
from pprint import pprint

### Creating a connection with local host

In [2]:
client = pymongo.MongoClient("mongodb://localhost:27017")

### Importing the requrired files into pandas

In [3]:
# JSON data as a string since the json file is not in the expected dedfault format ('split' orientation)
json_data = "{\"BOND\": 5.8666508075050965, \"SPY\": 13.543425817307703, \"VGK\": 12.451464289071716, \"SCHE\": 6.915758711274504, \"VONG\": 17.051905665939657}"

# Parse the JSON string into a dictionary
data_dict = json.loads(json_data)

# Convert the dictionary to a DataFrame
annualized_return_df = pd.DataFrame(list(data_dict.items()), columns=["Asset", "Annualized Return"])

# Display the DataFrame
annualized_return_df

  Asset  Annualized Return
0  BOND           5.866651
1   SPY          13.543426
2   VGK          12.451464
3  SCHE           6.915759
4  VONG          17.051906

In [4]:
# JSON data as a string since the json file is not in the expected dedfault format ('split' orientation)
json_data = "{\"BOND\": 4.788522449977892, \"SPY\": 18.839903802705454, \"VGK\": 24.247226252518896, \"SCHE\": 21.140812486835035, \"VONG\": 18.990221138722763}"

# Parse the JSON string into a dictionary
data_dict = json.loads(json_data)

# Convert the dictionary to a DataFrame
annualized_risk_df = pd.DataFrame(list(data_dict.items()), columns=["Asset", "Annualized Risk"])

# Display the DataFrame
annualized_risk_df

  Asset  Annualized Risk
0  BOND         4.788522
1   SPY        18.839904
2   VGK        24.247226
3  SCHE        21.140812
4  VONG        18.990221

In [5]:
# JSON data as a string since the json file is not in the expected dedfault format ('split' orientation)
json_data = "{\"BOND\": {\"Net Assets\": \"3.68B\", \"NAV\": \"87.81\", \"PE Ratio (TTM)\": \"1.56\", \"Yield\": \"3.84%\", \"YTD Daily Total Return\": \"-0.45%\", \"Beta (5Y Monthly)\": \"1.01\", \"Expense Ratio (net)\": \"0.56%\", \"Inception Date\": \"2012-02-29\"}, \"SPY\": {\"Net Assets\": \"412.8B\", \"NAV\": \"425.89\", \"PE Ratio (TTM)\": \"21.59\", \"Yield\": \"1.45%\", \"YTD Daily Total Return\": \"12.65%\", \"Beta (5Y Monthly)\": \"1.00\", \"Expense Ratio (net)\": \"0.09%\", \"Inception Date\": \"1993-01-22\"}, \"VGK\": {\"Net Assets\": \"24.41B\", \"NAV\": \"57.30\", \"PE Ratio (TTM)\": \"12.44\", \"Yield\": \"3.17%\", \"YTD Daily Total Return\": \"6.04%\", \"Beta (5Y Monthly)\": \"1.18\", \"Expense Ratio (net)\": \"0.13%\", \"Inception Date\": \"2001-08-13\"}, \"SCHE\": {\"Net Assets\": \"8.46B\", \"NAV\": \"24.00\", \"PE Ratio (TTM)\": \"11.12\", \"Yield\": \"2.98%\", \"YTD Daily Total Return\": \"1.32%\", \"Beta (5Y Monthly)\": \"0.82\", \"Expense Ratio (net)\": \"0.11%\", \"Inception Date\": \"2010-01-14\"}, \"VONG\": {\"Net Assets\": \"17.37B\", \"NAV\": \"67.95\", \"PE Ratio (TTM)\": \"29.76\", \"Yield\": \"0.77%\", \"YTD Daily Total Return\": \"24.02%\", \"Beta (5Y Monthly)\": \"1.11\", \"Expense Ratio (net)\": \"0.08%\", \"Inception Date\": \"2010-09-20\"}}"

# Parse the JSON string into a dictionary
data_dict = json.loads(json_data)

# Convert the dictionary into a Pandas DataFrame
etf_additional_info_df = pd.DataFrame(data_dict).T

# Display the DataFrame
etf_additional_info_df

,Net Assets,NAV,PE Ratio (TTM),Yield,YTD Daily Total Return,Beta (5Y Monthly),Expense Ratio (net),Inception Date
BOND,3.68B,87.81,1.56,3.84%,-0.45%,1.01,0.56%,2012-02-29
SPY,412.8B,425.89,21.59,1.45%,12.65%,1.00,0.09%,1993-01-22
VGK,24.41B,57.30,12.44,3.17%,6.04%,1.18,0.13%,2001-08-13
SCHE,8.46B,24.00,11.12,2.98%,1.32%,0.82,0.11%,2010-01-14
VONG,17.37B,67.95,29.76,0.77%,24.02%,1.11,0.08%,2010-09-20

In [6]:
# JSON data as a string since the json file is not in the expected dedfault format ('split' orientation)
json_data = "{\"conservative\": {\"BOND\": 0.63, \"SPY\": 0.31, \"VGK\": 0.02, \"SCHE\": 0, \"VONG\": 0.04}, \"balanced\": {\"BOND\": 0.33, \"SPY\": 0.42, \"VGK\": 0.08, \"SCHE\": 0.05, \"VONG\": 0.12}, \"growth\": {\"BOND\": 0.17, \"SPY\": 0.36, \"VGK\": 0.15, \"SCHE\": 0.08, \"VONG\": 0.24}}"
# Parse the JSON string into a dictionary
data_dict = json.loads(json_data)

# Convert the dictionary into a Pandas DataFrame
portfolio_weights_df = pd.DataFrame(data_dict).T

# Display the DataFrame
portfolio_weights_df

              BOND   SPY   VGK  SCHE  VONG
conservative  0.63  0.31  0.02  0.00  0.04
balanced      0.33  0.42  0.08  0.05  0.12
growth        0.17  0.36  0.15  0.08  0.24

In [7]:
monte_carlo_simulations_1_df = pd.read_csv("monte_carlo_simulations_1.csv")
monte_carlo_simulations_1_df.head()

,Returns,Volatility,bond weight,spy weight,vgk weight,sche weight,vong weight
0,0.086280,2.346608,0.159823,0.079071,0.079915,0.317590,0.363601
1,0.071622,2.045227,0.249260,0.312747,0.216575,0.166451,0.054967
2,0.082506,2.043788,0.254946,0.257814,0.218335,0.093505,0.175400
3,0.068322,2.606427,0.094540,0.017796,0.686180,0.064704,0.136780
4,0.058398,2.044151,0.263069,0.233045,0.310515,0.191262,0.002109

In [8]:
monte_carlo_simulations_2_df = pd.read_csv("monte_carlo_simulations_2.csv")
monte_carlo_simulations_2_df.head()

,Returns,Volatility,BOND weight,SPY weight,VGK weight,SCHE weight,VONG weight
0,0.093952,2.578394,0.063172,0.128089,0.359567,0.145070,0.304102
1,0.084092,2.194744,0.198344,0.224413,0.174091,0.187908,0.215244
2,0.109148,2.228728,0.182750,0.470049,0.061352,0.058000,0.227849
3,0.082364,2.368604,0.133177,0.250236,0.129878,0.299946,0.186763
4,0.076783,2.083772,0.245944,0.188617,0.102851,0.250549,0.212039

In [9]:
with open('portfolio.json', 'r') as json_file:
    portfolio = json.load(json_file)
    

# Parse the JSON string into a dictionary
data_dict = json.loads(portfolio)

# Convert the dictionary to a DataFrame
portfolio_df = pd.DataFrame(data_dict).T


# Display the DataFrame
portfolio_df

,0,1,2,3,4,5,6,7,8,9,...,891,892,893,894,895,896,897,898,899,900
conservative,"{'date': '2020-03-03', 'BOND_value': 630000.0,...","{'date': '2020-03-04', 'BOND_value': 628984.86...","{'date': '2020-03-05', 'BOND_value': 630564.02...","{'date': '2020-03-06', 'BOND_value': 634624.41...","{'date': '2020-03-09', 'BOND_value': 638290.17...","{'date': '2020-03-10', 'BOND_value': 630394.67...","{'date': '2020-03-11', 'BOND_value': 621145.84...","{'date': '2020-03-12', 'BOND_value': 595147.23...","{'date': '2020-03-13', 'BOND_value': 607046.87...","{'date': '2020-03-16', 'BOND_value': 597233.88...",...,"{'date': '2023-09-15', 'BOND_value': 556529.98...","{'date': '2023-09-18', 'BOND_value': 556716.82...","{'date': '2023-09-19', 'BOND_value': 554475.25...","{'date': '2023-09-20', 'BOND_value': 554724.27...","{'date': '2023-09-21', 'BOND_value': 550677.04...","{'date': '2023-09-22', 'BOND_value': 552482.75...","{'date': '2023-09-25', 'BOND_value': 548248.69...","{'date': '2023-09-26', 'BOND_value': 547626.00...","{'date': '2023-09-27', 'BOND_value': 546256.19...","{'date': '2023-09-28', 'BOND_value': 547750.55..."
balanced,"{'date': '2020-03-03', 'BOND_value': 330000.0,...","{'date': '2020-03-04', 'BOND_value': 329468.26...","{'date': '2020-03-05', 'BOND_value': 330295.44...","{'date': '2020-03-06', 'BOND_value': 332422.31...","{'date': '2020-03-09', 'BOND_value': 334342.47...","{'date': '2020-03-10', 'BOND_value': 330206.73...","{'date': '2020-03-11', 'BOND_value': 325362.11...","{'date': '2020-03-12', 'BOND_value': 311743.78...","{'date': '2020-03-13', 'BOND_value': 317976.93...","{'date': '2020-03-16', 'BOND_value': 312836.79...",...,"{'date': '2023-09-15', 'BOND_value': 291515.70...","{'date': '2023-09-18', 'BOND_value': 291613.57...","{'date': '2023-09-19', 'BOND_value': 290439.41...","{'date': '2023-09-20', 'BOND_value': 290569.85...","{'date': '2023-09-21', 'BOND_value': 288449.88...","{'date': '2023-09-22', 'BOND_value': 289395.73...","{'date': '2023-09-25', 'BOND_value': 287177.88...","{'date': '2023-09-26', 'BOND_value': 286851.71...","{'date': '2023-09-27', 'BOND_value': 286134.19...","{'date': '2023-09-28', 'BOND_value': 286916.95..."
growth,"{'date': '2020-03-03', 'BOND_value': 170000.0,...","{'date': '2020-03-04', 'BOND_value': 169726.07...","{'date': '2020-03-05', 'BOND_value': 170152.19...","{'date': '2020-03-06', 'BOND_value': 171247.85...","{'date': '2020-03-09', 'BOND_value': 172237.03...","{'date': '2020-03-10', 'BOND_value': 170106.49...","{'date': '2020-03-11', 'BOND_value': 167610.78...","{'date': '2020-03-12', 'BOND_value': 160595.28...","{'date': '2020-03-13', 'BOND_value': 163806.29...","{'date': '2020-03-16', 'BOND_value': 161158.34...",...,"{'date': '2023-09-15', 'BOND_value': 150174.75...","{'date': '2023-09-18', 'BOND_value': 150225.17...","{'date': '2023-09-19', 'BOND_value': 149620.30...","{'date': '2023-09-20', 'BOND_value': 149687.50...","{'date': '2023-09-21', 'BOND_value': 148595.39...","{'date': '2023-09-22', 'BOND_value': 149082.64...","{'date': '2023-09-25', 'BOND_value': 147940.12...","{'date': '2023-09-26', 'BOND_value': 147772.09...","{'date': '2023-09-27', 'BOND_value': 147402.46...","{'date': '2023-09-28', 'BOND_value': 147805.70..."

In [10]:
# Conservative Portfolio

# Parse the JSON string into a Python dictionary
conservative_portfolio = json.loads(portfolio)

# Create a DataFrame from the 'conservative' key
conservative_df = pd.json_normalize(conservative_portfolio['conservative'])

# Display the DataFrame
conservative_df.head()

,date,BOND_value,SPY_value,VGK_value,SCHE_value,VONG_value,conservative_portfolio_value,conservative_portfolio_return
0,2020-03-03,630000.000000,310000.000000,20000.000000,0.0,40000.000000,1.000000e+06,NaN
1,2020-03-04,628984.868034,323030.207147,20690.838443,0.0,41673.320656,1.014379e+06,0.014379
2,2020-03-05,630564.025543,312292.209839,19992.411929,0.0,40269.013751,1.003118e+06,-0.011102
3,2020-03-06,634624.410892,307129.582593,19719.117015,0.0,39676.280589,1.001149e+06,-0.001962
4,2020-03-09,638290.173131,283144.546124,18018.603700,0.0,36856.269170,9.763096e+05,-0.024811

In [11]:
# Balanced Portfolio

# Parse the JSON string into a Python dictionary
balanced_portfolio = json.loads(portfolio)

# Create a DataFrame from the 'balanced' key
balanced_df = pd.json_normalize(balanced_portfolio['balanced'])

# Display the DataFrame
balanced_df.head()

,date,BOND_value,SPY_value,VGK_value,SCHE_value,VONG_value,balanced_portfolio_value,balanced_portfolio_return
0,2020-03-03,330000.000000,420000.000000,80000.000000,50000.000000,120000.000000,1.000000e+06,NaN
1,2020-03-04,329468.264208,437653.829037,82763.353771,50757.881920,125019.961967,1.025663e+06,0.025663
2,2020-03-05,330295.441951,423105.574621,79969.647714,49740.721127,120807.041254,1.003918e+06,-0.021201
3,2020-03-06,332422.310467,416111.047385,78876.468062,48723.576860,119028.841768,9.951622e+05,-0.008722
4,2020-03-09,334342.471640,383615.191523,72074.414800,45133.627484,110568.807511,9.457345e+05,-0.049668

In [12]:
# Growth Portfolio

# Parse the JSON string into a Python dictionary
growth_portfolio = json.loads(portfolio)

# Create a DataFrame from the 'growth' key
growth_df = pd.json_normalize(growth_portfolio['balanced'])

# Display the DataFrame
growth_df.head()

,date,BOND_value,SPY_value,VGK_value,SCHE_value,VONG_value,balanced_portfolio_value,balanced_portfolio_return
0,2020-03-03,330000.000000,420000.000000,80000.000000,50000.000000,120000.000000,1.000000e+06,NaN
1,2020-03-04,329468.264208,437653.829037,82763.353771,50757.881920,125019.961967,1.025663e+06,0.025663
2,2020-03-05,330295.441951,423105.574621,79969.647714,49740.721127,120807.041254,1.003918e+06,-0.021201
3,2020-03-06,332422.310467,416111.047385,78876.468062,48723.576860,119028.841768,9.951622e+05,-0.008722
4,2020-03-09,334342.471640,383615.191523,72074.414800,45133.627484,110568.807511,9.457345e+05,-0.049668

### Importing the dataframes as CSV

- Importing json file is giving error

$ mongoimport --type json -d StockAnalysis -c etf_price_info --drop --jsonArray etf_price_info.json 2023-09-30T21:31:18.486-0700 connected to: mongodb://localhost/ 2023-09-30T21:31:18.487-0700 dropping: StockAnalysis.etf_price_info 2023-09-30T21:31:18.489-0700 Failed: error reading separator after document #1: bad JSON array format - found no opening bracket '[' in input source 2023-09-30T21:31:18.489-0700 0 document(s) imported successfully. 0 document(s) failed to import. (base)

- This is to prevent MongoDB creating duplicate documents, by using $ mongoimport --type csv -d DatabseName -c CollectionName --drop --jsonArray CSVFile

- As importing file using dictionary is creating duplicate values in MongoDB

In [13]:
annualized_return_path = 'annualized_return.csv'

# Use the to_csv method to export the DataFrame to a CSV file
annualized_return_df.to_csv(annualized_return_path, index=False)

In [14]:
annualized_risk_path = 'annualized_risk.csv'

# Use the to_csv method to export the DataFrame to a CSV file
annualized_risk_df.to_csv(annualized_risk_path, index=False)

In [15]:
etf_additional_info_path = 'etf_additional_info.csv'

# Use the to_csv method to export the DataFrame to a CSV file
etf_additional_info_df.to_csv(etf_additional_info_path, index=False)

In [16]:
portfolio_weights_path = 'portfolio_weights.csv'

# Use the to_csv method to export the DataFrame to a CSV file
portfolio_weights_df.to_csv(portfolio_weights_path, index=False)

In [17]:
portfolio_path = 'portfolio.csv'

# Use the to_csv method to export the DataFrame to a CSV file
portfolio_df.to_csv(portfolio_path, index=False)

### Converting our dataframes to dictionary

In [ ]:
# Using .to_dict() method

annualized_return = annualized_return_df.to_dict(orient = "records")
annualized_risk = annualized_risk_df.to_dict(orient = "records")
etf_additional_info = etf_additional_info_df.to_dict(orient = "records")
portfolio_weights = portfolio_weights_df.to_dict(orient = "records")

monte_carlo_simulations_1 = monte_carlo_simulations_1_df.to_dict(orient = "records")
monte_carlo_simulations_2 = monte_carlo_simulations_2_df.to_dict(orient = "records")

# portfolio.json
conservative_investment = conservative_df.to_dict(orient = "records")
balanced_investment = balanced_df.to_dict(orient = "records")
growth_investment = growth_df.to_dict(orient = "records")

In [ ]:
annualized_return

In [ ]:
annualized_risk

In [ ]:
etf_additional_info

In [ ]:
portfolio_weights

In [ ]:
monte_carlo_simulations_1

In [ ]:
monte_carlo_simulations_2

In [ ]:
conservative_investment

In [ ]:
balanced_investment

In [ ]:
growth_investment

### Creating Database

In [ ]:
db = client["StockAnalysis"]

In [ ]:
db

### Saving the records in Database

In [ ]:
db.Annualized_Return.insert_many(annualized_return)

In [ ]:
db.Annualized_Risk.insert_many(annualized_risk)

In [ ]:
db.ETF_Additional_Info.insert_many(etf_additional_info)

In [ ]:
db.Monte_Carlo_Simulations_1.insert_many(monte_carlo_simulations_1)

In [ ]:
db.Monte_Carlo_Simulations_2.insert_many(monte_carlo_simulations_2)

In [ ]:
db.Conservative_Portfolio.insert_many(conservative_investment)

In [ ]:
db.Balanced_Portfolio.insert_many(balanced_investment)

In [ ]:
db.Growth_Portfolio.insert_many(growth_investment)

### Verifying if the Database & collections are created

In [ ]:
# confirm that our new database was created
pprint(client.list_database_names())

In [ ]:
# assign the StockAnalysis database to a variable name
db = client['StockAnalysis']

In [ ]:
# review the collections in our new database
pprint(db.list_collection_names())

In [ ]:
# Close the MongoDB connection
client.close()

### Trial for importing the pending json files
- portfolio.json
- etf_price_info.json

$ mongoimport --type json -d StockAnalysis -c etf_price_info --drop --jsonArray etf_price_info.json
2023-09-30T21:31:18.486-0700    connected to: mongodb://localhost/
2023-09-30T21:31:18.487-0700    dropping: StockAnalysis.etf_price_info
2023-09-30T21:31:18.489-0700    Failed: error reading separator after document #1: bad JSON array format - found no opening bracket '[' in input source
2023-09-30T21:31:18.489-0700    0 document(s) imported successfully. 0 document(s) failed to import.
(base)

$ mongoimport --type json -d StockAnalysis -c portfolio --drop --jsonArray portfolio.json
2023-09-30T21:32:26.094-0700    connected to: mongodb://localhost/
2023-09-30T21:32:26.095-0700    dropping: StockAnalysis.portfolio
2023-09-30T21:32:26.096-0700    Failed: error reading separator after document #1: bad JSON array format - found no opening bracket '[' in input source
2023-09-30T21:32:26.096-0700    0 document(s) imported successfully. 0 document(s) failed to import.
(base)